/**
 * Specific template styles
 *
 * @package    BardCanvas
 * @subpackage Responsive Template
 * @author     Alejandro Caballero - lava.caballero@gmail.com
 */

#responsible_custom_header              { padding: 20px 0; line-height: 60px; }
#responsible_custom_header .logo        { display: inline-block; white-space: nowrap; max-width: 50%; }
#responsible_custom_header .links_panel { display: inline-block; max-width: 50%; float: right; }

#responsible_custom_header .logo            { vertical-align: top; font-size: 30px; color: #555555; font-weight: bold; }
#responsible_custom_header .logo .image     { vertical-align: top; max-height: 60px; margin-right: 10px; max-width: 100%; }
#responsible_custom_header .logo .caption   { vertical-align: top; display: inline-block; }

#responsible_custom_header .links_panel        { vertical-align: top; text-align: right; }
#responsible_custom_header .links_panel .links { display: inline-block; text-align: center;
                                                 line-height: normal; vertical-align: middle;
                                                 text-transform: uppercase; font-size: 11px; }

#responsible_custom_header .links_panel .links .icon              { font-size: 10px; }
#responsible_custom_header .links_panel .links a                  { color: #555555; }
#responsible_custom_header .links_panel .links a span             { display: inline-block; padding: 5px; }
#responsible_custom_header .links_panel .links a:hover            { color: #444444; }
#responsible_custom_header .links_panel .links a:after            { content: ' | ' }
#responsible_custom_header .links_panel .links a:last-child:after { content: '' }

@media all and (max-width: 480px) {
    #responsible_custom_header .logo        { display: block; float: none; text-align: center; max-width: none; }
    #responsible_custom_header .links_panel { display: block; float: none; text-align: center; max-width: none;
                                              line-height: normal; margin-top: 20px; }
}
